{
  "policies": {
    "CaptivePortal": false,
    "Certificates": {
      "Install": ["{{ burpsuite_cacert_path }}"]
    },
    "DisableAppUpdate": true,
    "DisableFeedbackCommands": true,
    "DisableFirefoxAccounts": true,
    "DisableFormHistory": true,
    "DisablePocket": true,
    "DisableProfileImport": true,
    "DisableTelemetry": true,
    "DisplayMenuBar": true,
    "DontCheckDefaultBrowser": true,
    "Extensions": {
      "Install": [
        "https://addons.mozilla.org/firefox/downloads/latest/foxyproxy-standard/latest.xpi",
        "https://addons.mozilla.org/firefox/downloads/latest/wappalyzer/latest.xpi"
        ]
    },
    "ExtensionSettings": {
      "foxyproxy@eric.h.jung": {
        "installation_mode": "force_installed",
        "install_url": "https://addons.mozilla.org/firefox/downloads/latest/foxyproxy-standard/latest.xpi"
      },
      "wappalyzer@crunchlabz.com": {
        "installation_mode": "force_installed",
        "install_url": "https://addons.mozilla.org/firefox/downloads/latest/wappalyzer/latest.xpi"
      }
    },
    "Homepage": {
      "URL": "about:blank",
      "Locked": true,
      "StartPage": "none"
    },
    "NewTabPage": false,
    "OfferToSaveLogins": false,
    "OverrideFirstRunPage": "",
    "OverridePostUpdatePage": "",
    "Permissions": {
      "Camera": {
        "BlockNewRequests": true,
        "Locked": true
      },
      "Microphone": {
        "BlockNewRequests": true,
        "Locked": true
      },
      "Location": {
        "BlockNewRequests": true,
        "Locked": true
      }
    },
    "SearchBar": "separate",
    "SearchEngines": {
      "Default": "DuckDuckGo",
      "PreventInstalls": true,
      "Remove": [
        "Google",
        "Bing",
        "Amazon.com",
        "Debian packages",
        "eBay",
        "Twitter",
        "Wikipedia (en)"
        ]
    },
    "SearchSuggestEnabled": false
  }
}
