{
  "policies": {
    "CaptivePortal": false,
    "Certificates": {
      "Install": ["{{ burpsuite_cacert_path }}"]
    },
    "DisableAppUpdate": true,
    "DisableFeedbackCommands": true,
    "DisableFormHistory": true,
    "DisablePocket": true,
    "DisableProfileImport": true,
    "DisableTelemetry": true,
    "DisplayMenuBar": true,
    "DontCheckDefaultBrowser": true,
    "Extensions": {
      "Install": [
        "https://addons.mozilla.org/firefox/downloads/latest/foxyproxy-standard/latest.xpi",
        "https://addons.mozilla.org/firefox/downloads/latest/wappalyzer/latest.xpi"
        ]
    },
    "ExtensionSettings": {
      "foxyproxy@eric.h.jung": {
        "installation_mode": "force_installed",
        "install_url": "https://addons.mozilla.org/firefox/downloads/latest/foxyproxy-standard/latest.xpi"
      },
      "wappalyzer@crunchlabz.com": {
        "installation_mode": "force_installed",
        "install_url": "https://addons.mozilla.org/firefox/downloads/latest/wappalyzer/latest.xpi"
      }
    },
    "OfferToSaveLogins": false,
    "OverrideFirstRunPage": "",
    "OverridePostUpdatePage": "",
    "SearchBar": "separate",
    "SearchEngines": {
      "Default": "DuckDuckGo",
      "PreventInstalls": true
    },
    "SearchSuggestEnabled": false
  }
}
