---
# Burp Suite default settings
burpsuite_cacert_path: "{{ burpsuite_extras_dir }}/PortSwigger_CA.der"
burpsuite_extras_dir: /opt/BurpSuiteExtras
burpsuite_installer_dir: "/home/{{ kali_user }}/Downloads"

# Gnome settings
gnome_settings:
  - "org.gnome.desktop.interface gtk-theme 'Kali-X-Dark'"
  - "org.gnome.desktop.interface icon-theme 'Vibrancy-Kali-Dark'"
  - "org.gnome.desktop.session idle-delay 1800"
  - "org.gnome.settings-daemon.plugins.power sleep-inactive-ac-type 'nothing'"
  - "org.gnome.settings-daemon.plugins.power sleep-inactive-battery-type 'nothing'"
  - "org.gnome.shell.extensions.user-theme name 'Kali-X'"
  - "org.gnome.shell.extensions.dash-to-dock apply-custom-theme false"
  - "org.gnome.shell.extensions.dash-to-dock background-color '#1C1C1C'"
  - "org.gnome.shell.extensions.dash-to-dock click-action 'previews'"
  - "org.gnome.shell.extensions.dash-to-dock custom-background-color true"
  - "org.gnome.shell.extensions.dash-to-dock dash-max-icon-size 40"
  - "org.gnome.shell.extensions.dash-to-dock dock-fixed true"
  - "org.gnome.shell.extensions.dash-to-dock dock-position 'LEFT'"
  - "org.gnome.shell.extensions.dash-to-dock extend-height true"
  - "org.gnome.shell.extensions.dash-to-dock force-straight-corner true"
  - "org.gnome.shell.extensions.dash-to-dock running-indicator-style 'DOTS'"
  - "org.gnome.shell.extensions.dash-to-dock scroll-action 'cycle-windows'"
  - "org.gnome.shell favorite-apps \"['org.gnome.Nautilus.desktop', 'org.gnome.Terminal.desktop', 'firefox-esr.desktop', 'chromium.desktop', 'burpsuite.desktop', 'code.desktop', 'SciTE.desktop', 'org.keepassxc.KeePassXC.desktop' ]\""

# Git repositories to clone to /opt
git_repos:
  - name: fuzzdb
    repo: https://github.com/fuzzdb-project/fuzzdb.git
  - name: Inveigh
    repo: https://github.com/Kevin-Robertson/Inveigh.git
  - name: PayloadsAllTheThings
    repo: https://github.com/swisskyrepo/PayloadsAllTheThings
  - name: Powermad
    repo: https://github.com/Kevin-Robertson/Powermad.git
  - name: PowerSploit
    repo: https://github.com/PowerShellMafia/PowerSploit.git
    version: dev
  - name: SecLists
    repo: https://github.com/danielmiessler/SecLists.git

# Packages for OS
kali_os_packages:
  - apparmor
  - apt-transport-https
  - build-essential
  - cmake
  - default-mysql-client
  - dnsutils
  - docker.io
  - docker-compose
  - dos2unix
  - expect
  - fonts-hack-ttf
  - gufw
  - keepassxc
  - libffi-dev
  - libssl-dev
  - macchanger
  - openresolv
  - open-vm-tools-desktop
  - php
  - postgresql
  - python3
  - python3-dev
  - python3-pip
  - python3-setuptools
  - ruby
  - scite
  - screen
  - sqlite3
  - ufw
  - wireguard
  - xclip
  - xsel

# Tool packages to install
kali_tool_packages:
  - aircrack-ng
  - amass
  - apache2
  - bloodhound
  - cadaver
  - cewl
  - chromium
  - creddump7
  - dirb
  - dnsrecon
  - exe2hexbat
  - exploitdb
  - eyewitness
  - freerdp2-x11
  - gdb
  - gobuster
  - gpp-decrypt
  - hash-identifier
  - hydra
  - john
  - masscan
  - metasploit-framework
  - nasm
  - nbtscan-unixwiz
  - neo4j
  - netcat-traditional
  - netdiscover
  - nikto
  - nmap
  - onesixtyone
  - passing-the-hash
  - patator
  - powershell
  - proxychains4
  - python-impacket
  - responder
  - smbclient
  - smbmap
  - socat
  - sqlmap
  - wafw00f
  - webshells
  - weevely
  - wfuzz
  - whatweb
  - wifiphisher
  - windows-binaries
  - wireshark
  - wpscan
  - xtightvncviewer

kali_user: hacker

misc_downloads:
  - url: https://github.com/DominicBreuker/pspy/releases/download/v1.0.0/pspy64
    dest: /opt/pspy/pspy64
    mode: "0755"
  - url: https://github.com/DominicBreuker/pspy/releases/download/v1.0.0/pspy64s
    dest: /opt/pspy/pspy64s
    mode: "0755"

# Extensions for VS Code
vscode_extensions:
  # Language extensions
  - ms-python.python
  - ms-vscode.cpptools
  - ms-vscode.powershell
  - rebornix.ruby
  # Markdown extensions
  - yzhang.markdown-all-in-one
  - telesoho.vscode-markdown-paste-image
  # Utility extensions
  - hookyqr.beautify
